*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --platform-aliases-placeholder: #7C7C8A;
    --platform-aliases-titles: #E1E1E6;
    --platform-bg-titles: #092D38;
    --plataform-table-border: #4A808C;
    --neutral-colors-white: #FFF;
    --btn-bg-color: #065E7C;
    --semantic-clors-danger-light: #F75A68;

}

body{
    background: black;
    font-size: 1.6rem;
}

#app{
    padding: 11.5rem 16rem 11.6rem;
    display: grid;
    place-content: center;
}


body *{
    font-family: 'Roboto', sans-serif;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 112rem;
    min-width: 112rem;

    margin-bottom: 8.7rem;
}

#input-wrapper{
    display: flex;
    gap: .8rem;
    width: 46.2rem;

}

#input-wrapper input{
    background: #06181C;
    border-radius: .5rem;
    width: 100%;

    border: none;

    padding: 1.6rem;

    color: var(--platform-aliases-placeholder);


} 

.fav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
   
    background: var(--btn-bg-color);
    
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--neutral-colors-white);
    font-weight: bold;
    line-height: 2.4rem;


    border: none;
    border-radius: .5rem;
    padding: 0 3.2rem;

    cursor: pointer;
}

.icon{
    fill: var(--neutral-colors-white);

}

.fav-button:hover{
    background: var(--neutral-colors-white);
    color: var(--btn-bg-color);

}

.fav-button:hover .icon {
    fill: var(--btn-bg-color);
}

main{
    border-radius: 1.2rem;
    border: .3rem solid var(--plataform-table-border);

    height: 68.8rem;
    max-width: 112rem;
    min-width: 112rem;

    height: inherit;
    max-height: 68.8rem;


    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.table-header{
    display: flex;
    flex-direction: row;
    width: 100%;
}

table *{
    font-size: 2rem;
}

table{
    border-collapse: collapse;
    text-align: left;

    
}

table tr{
    display: flex;
    align-items: center;
    border: 1px solid #4A808C;

}

table th{
    padding: 1.6rem 2.4rem 1.6rem 4rem;
    font-weight: bold;
    color: var(--platform-aliases-titles);
    background: var(--platform-bg-titles);

}

table td{

    padding: 1.6rem 2.4rem 1.6rem 4rem;
    color: var(--platform-aliases-titles);
    text-align: left;


}

table tr:nth-child(odd) {
    background: rgba(6, 22, 27, 0.50);
}





table td.user{
    display: flex;

    align-items: center;
    gap: 1.6rem;


}

table td.user img{
    background: #c4c4c4;
    width: 5.4rem;
    border-radius: 50%;
}

table td.user a{
    text-decoration: none;
    color: var(--platform-aliases-titles);
}

table td.user a p{
    font-weight: bold;
}

th.user,
td.user{
    display: flex;
    width: 50.4rem;
}

th.repositories,
td.repositories{
    display: flex;
    width: 21.9rem;
}

th.followers,
td.followers
{
    display: flex;
    width: 21.9rem;
}


th.action,
td.action
{
    display: flex;
    width: 17.8rem;
}

.remove{
    background: none;
    border: none;
    color: var(--semantic-clors-danger-light);
    font-weight: bold;

    cursor: pointer;
}


.scroll-bar{
    overflow-y: scroll;
    overflow-x: hidden;

   /* display: flex;*/
  /*  flex-direction: column;*/
    width: 100%;
}

.emptyTable *{
    color: #4E5455;

    font-size: 4rem;
    font-family: 'Roboto Mono', monospace;
}

.emptyTable{
    display:flex;
    flex-direction: row;

    align-items: center;

    gap: 6rem;

    justify-content: center;

    width: 100%;

    height: 62.4rem;

    margin-top: -6.4rem;

}

.emptyTable img{
    width: 13.2rem;
}

/*customização do scroll bar*/


::-webkit-scrollbar{
    position: fixed;
    top: 6.4rem;
    right: .8rem;
    width: .6rem;
    background: transparent;


}
::-webkit-scrollbar-track{
    background: transparent;
}


::-webkit-scrollbar-thumb{
    background: #4A808C;
    border-radius: 1rem;
    width: .6rem;

    
}

